.quattro {
    font: 18px/1.5 'League Spartan', sans-serif;
}

body {
    color: #040506;
    background-color: #fefcfc;
    padding-bottom: 40px;
}

.quattro img {
  border: 1px solid rgb(201, 201, 201);
  max-width: 90%;
  margin-left: 5%;
}

@media only screen and (min-width: 680px) {
    #root {
        margin: 0 auto;
        width: 680px;
    }
    img {
        width: 400px;
    }
}

@media only screen and (min-width: 750px) {
    #root {
        margin: 0 auto;
        width: 750px;
    }
    img {
        width: 400px;
    }
}
@media only screen and (max-width: 680px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }
    img {
        width: 400px;
    }
    .quattro > h2:first-child {
        font-size: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }

    img {
        width: 300px;
    }
    .quattro > h2:first-child {
        font-size: 20px;
        text-align: center;
    }
    .quattro {
        font: 18px/1.5 'League Spartan', sans-serif;
    }
}

@media only screen and (max-width: 320px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }

    img {
        width: 200px;
    }
    .quattro > h2:first-child {
        font-size: 20px;
        text-align: center;
    }
    .quattro {
        font: 18px/1.5 'League Spartan', sans-serif;
    }
}

.last-updated {
    font-size: 50%;
}

.sumpass-sumpass-text {
    padding-left: 20px;

}
.regular {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.normal {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.footer-div {
    font-size: 75%;
    border-top: 1px solid black;
    padding-top: 4px;
}

.footer-div > span {
    float: right;
}

h2 {
    border-bottom: 1px solid black;
}


a {
    color: rgb(0,0,200);
    text-decoration: none;
    text-decoration-style: dotted;
}

code {
    background-color: #f4f4f4;
    padding: 3px;
    font-size: 80%;
    display: inline-block;
}

blockquote {
    font-style: italic;
}

p {
    margin-bottom: 1.4em;
    margin-left: 1em;
    margin-right: 1em;
}

/* Anchoer sttyling */
ul {
    list-style-type: none;
}
h1 {
  text-indent: -12px;
}

h2 {
  text-indent: -10px;
}

h3 {
  text-indent: -8px;
}

h4 {
  text-indent: -6px;
}

h5 {
  text-indent: -4px;
}

h6 {
  text-indent: -2px;
}
